<%=form_for @listing, :html => {:class => 'form-horizontal', :role => 'form'} do|f|%>
    <fieldset>
      <!-- Form Name -->
      <legend>New listing</legend>
      <%=render'shared/error_messages',object:f.object%>
      <div class="form-group">
        <%=f.label :street_address, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :street_address, :class => 'form-control input-md'%>
        </div>
        <%=f.label :city, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :city, :class => 'form-control input-md'%>
        </div>
      </div>
      <div class="form-group">
        <%=f.label :state, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :state, :class => 'form-control input-md'%>
        </div>
        <%=f.label :zip, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :zip, :class => 'form-control input-md'%>
        </div>
      </div>
      <div class="form-group">
        <%=f.label :price, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :price, :class => 'form-control input-md'%>
        </div>
        <%=f.label :bedrooms, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :bedrooms, :class => 'form-control input-md'%>
        </div>
      </div>
      <div class="form-group">
        <%=f.label :bathrooms, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :bathrooms, :class => 'form-control input-md'%>
        </div>
        <%=f.label :square_feet, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :square_feet, :class => 'form-control input-md'%>
        </div>
      </div>
      <div class="form-group">
        <%=f.label :property_type, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :property_type, :class => 'form-control input-md'%>
        </div>
        <%=f.label :description, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :description, :class => 'form-control input-md'%>
        </div>
      </div>
      <div class="form-group">
        <%=f.label :year_built, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :year_built, :class => 'form-control input-md'%>
        </div>
        <%=f.label :lot_size, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :lot_size, :class => 'form-control input-md'%>
        </div>
      </div>
      <div class="form-group">
        <%=f.label :mls, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :mls, :class => 'form-control input-md'%>
        </div>
        <%=f.label :realtor, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :realtor, :class => 'form-control input-md'%>
        </div>
      </div>
      <div class="form-group">
        <%=f.label :elementary_school, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :elementary_school, :class => 'form-control input-md'%>
        </div>
        <%=f.label :junior_high, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :junior_high, :class => 'form-control input-md'%>
        </div>
      </div>
      <div class="form-group">
        <%=f.label :high_school, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :high_school, :class => 'form-control input-md'%>
        </div>
        <%=f.label :garage, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :garage, :class => 'form-control input-md'%>
        </div>
      </div>
      <div class="form-group">
        <%=f.label :garage_number_of_spaces, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :garage_number_of_spaces, :class => 'form-control input-md'%>
        </div>
        <%=f.label :master_bedroom_size, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :master_bedroom_size, :class => 'form-control input-md'%>
        </div>
      </div>
      <div class="form-group">
        <%=f.label :second_bedroom_size, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :second_bedroom_size, :class => 'form-control input-md'%>
        </div>
        <%=f.label :third_bedroom_size, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :third_bedroom_size, :class => 'form-control input-md'%>
        </div>
      </div>
      <div class="form-group">
        <%=f.label :fourth_bedroom_size, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :fourth_bedroom_size, :class => 'form-control input-md'%>
        </div>
        <%=f.label :fifth_bedroom_size, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :fifth_bedroom_size, :class => 'form-control input-md'%>
        </div>
      </div>
      <div class="form-group">
        <%=f.label :living_room_size, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :living_room_size, :class => 'form-control input-md'%>
        </div>
        <%=f.label :family_room_size, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :family_room_size, :class => 'form-control input-md'%>
        </div>
      </div>
      <div class="form-group">
        <%=f.label :kitchen_size, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :kitchen_size, :class => 'form-control input-md'%>
        </div>
        <%=f.label :laundry_room_size, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :laundry_room_size, :class => 'form-control input-md'%>
        </div>
      </div>
      <div class="form-group">
        <%=f.label :foyer_size, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :foyer_size, :class => 'form-control input-md'%>
        </div>
        <%=f.label :number_of_fireplaces, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :number_of_fireplaces, :class => 'form-control input-md'%>
        </div>
      </div>
      <div class="form-group">
        <%=f.label :appliances_included, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :appliances_included, :class => 'form-control input-md'%>
        </div>
        <%=f.label :appliances, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :appliances, :class => 'form-control input-md'%>
        </div>
      </div>
      <div class="form-group">
        <%=f.label :additional_room_information, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :additional_room_information, :class => 'form-control input-md'%>
        </div>
        <%=f.label :estimated_occupancy, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :estimated_occupancy, :class => 'form-control input-md'%>
        </div>
      </div>
      <div class="form-group">
        <%=f.label :lot_size, :class => 'col-md-3 control-label'%>
        <div class="col-md-3">
          <%=f.text_field :lot_size, :class => 'form-control input-md'%>
        </div>
        <div class="modal fade" id="imageModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
              </div> <!--end modal-header -->
              <div id="modBody" class="modal-body">
                <%= f.nested_fields_for :listing_images do |builder| %>
                    <%= builder.remove_nested_fields_link 'Delete image', data: { confirm: 'Are you sure?' }%>
                    <p>
                      <%= builder.label :url, "Image URL" %>
                      <%= builder.text_field :url %>
                    </p>
                    <p>
                      <%= builder.label :description, "Image description" %>
                      <%= builder.text_field :description %>
                    </p>
                <% end %>
              </div><!-- /.modal-body -->
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <%= f.add_nested_fields_link :listing_images, 'Add image', class: 'btn btn-primary', data: { insert_into: 'modBody' }%>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#imageModal">
          Add image(s) to the listing
        </button>
      </div>
      <!-- Button (Double) -->
      <div class="form-group">
        <label class="col-md-3 control-label" for="button1id"></label>
        <div class="col-md-8">
          <%=f.submit"Create my listing",class:"btn btn-success"%>
        </div>
      </div>

    </fieldset>
<%end%>
<%= javascript_tag do %>
    //  alert("My example alert box.");
    /*  var theParent = document.querySelector("#modBody");
    theParent.addEventListener("click", doSomething, false);

    function doSomething(e) {
    if (e.target !== e.currentTarget) {
    var clickedItem = e.target.id;
    alert("Hello " + clickedItem);
    }
    e.stopPropagation();
    }
    */

<% end %>