<%provide(:title,'All listings')
  contador=0%>
<div class="container">
  <div class="col-xs-3">
  <aside>
    <h3>Sort listings by:</h3>
    <div id="menu8">
      <ul>
        <li><%= sortable 'Price ', 'price', 'asc' %></li>
        <li><%= sortable 'Created Date', 'created_at', 'asc' %></li>
        <li><%= sortable 'Price ', 'price', 'desc' %></li>
        <li><%= sortable 'Created Date', 'created_at', 'desc' %></li>
      </ul>
    </div>
  </aside>
</div>
  <div class="col-xs-9">
    <section>
      <%@listings.each do|listing|%>
          <div class="row" style="position: relative;margin-bottom: 10px;">
            <div class="col-xs-2">
              <div class="custom-container basic2">
                <div id="" class="carousel" style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; width: 480px;">
                  <ul>
                    <% listing.listing_images.order("RANDOM()").each do|image| %>
                        <li data-href="<%= url_for(listing) %>"><img src="<%= image.url%>" alt="<%= image.description %>" height="142" width="142"></li>
                    <% end %>
                  </ul>
                  <button class="prev">&laquo;</button>
                  <button class="next">&raquo;</button>
                </div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="col-xs-8">
              <p><%=listing.street_address%>,<br> <%=listing.city%></p>
              <p>Created at: <%=listing.created_at%></p>
              <p>Price: <%=listing.price%></p>
            </div>
            <div class="col-xs-2">
              <div style="position: absolute ; right: 50px; bottom: 25px;">
                <%=link_to ("See more <i class='fa fa-angle-right'></i>").html_safe,listing, :class => "btn btn-primary", data: { behavior: "show-listing" }%>
              </div>
              <div style="position: absolute ; right: 50px; top: 5px;">
                By: <%= listing.user.first_name%>
              </div>
            </div>
          </div>
      <% end%>
    </section>
  </div>
</div>

<%=will_paginate%>
<%= javascript_tag do %>
   $('.basic2 .carousel ul li').on('click', 'img', function () {
  var link = $(this).parent().attr('data-href');
  if (link.length > 0) {
      document.location.href = $(this).parent().attr('data-href');
  } else {
      return;
  }
  });
<%end%>