<%provide(:title,'Details')%>
<section style="position: relative; bottom: 20px;">
  <div class="container-fluid">
    <div class="row">
      <div id="map" class="col-xs-12" style="height: 300px; background: rgb(115, 182, 230) none repeat scroll 0% 0%; position: relative; overflow: hidden;"></div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="custom-container basic2">
        <div id="" class="carousel_show" style="visibility: visible; overflow: hidden; position: relative; z-index: 2; left: 0px; width: 480px;">
          <ul>
            <% @listing.listing_images.each do|image| %>
                <li><img src="<%= image.url%>" alt="<%= image.description %>" height="342" width="942"></li>
            <% end %>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <%= button_to 'Add to Cart' , line_items_path(listing_id: product) %>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">Street address: <%=@listing.street_address%></div>
  <div class="col-sm-4">City: <%=@listing.city%></div>
  <div class="col-sm-4">State: <%=@listing.state%></div>
</div>
<div class="row">
  <div class="col-sm-4">Zip: <%=@listing.zip%></div>
  <div class="col-sm-4">Price: <%=@listing.price%></div>
  <div class="col-sm-4">Bedrooms: <%=@listing.bedrooms%></div>
</div>
<div class="row">
  <div class="col-sm-4">Bathrooms: <%=@listing.bathrooms%></div>
  <div class="col-sm-4">Square feet: <%=@listing.square_feet%></div>
  <div class="col-sm-4">Property type: <%=@listing.property_type%></div>
</div>
<div class="row">
  <div class="col-sm-4">Description: <%=@listing.description%></div>
  <div class="col-sm-4">year built: <%=@listing.year_built%></div>
  <div class="col-sm-4">Realtor: <%=@listing.realtor%></div>
</div>
<div class="row">
  <div class="col-sm-4">Elementary school: <%=@listing.elementary_school%></div>
  <div class="col-sm-4">Junior high: <%=@listing.junior_high%></div>
  <div class="col-sm-4">High school: <%=@listing.high_school%></div>
</div>
<div class="row">
  <div class="col-sm-4">Garage: <%=@listing.garage%></div>
  <div class="col-sm-4">Garage number of spaces: <%=@listing.garage_number_of_spaces%></div>
  <div class="col-sm-4">Master bedroom size:<%=@listing.master_bedroom_size%></div>
</div>
<div class="row">
  <div class="col-sm-4">second bedroom size: <%=@listing.second_bedroom_size%></div>
  <div class="col-sm-4">Living room size: <%=@listing.living_room_size%></div>
  <div class="col-sm-4">Family room size: <%=@listing.family_room_size%></div>
</div>
<div class="row">
  <div class="col-sm-4">Kitchen size: <%=@listing.kitchen_size%></div>
  <div class="col-sm-4">Dining room size: <%=@listing.dining_room_size%></div>
  <div class="col-sm-4">Laundry room size: <%=@listing.laundry_room_size%></div>
</div>
<div class="row">
  <div class="col-sm-4">Foyer size: <%=@listing.foyer_size%></div>
  <div class="col-sm-4">Number of fireplaces: <%=@listing.number_of_fireplaces%></div>
  <div class="col-sm-4">Appliances included<%=@listing.appliances_included%></div>
</div>
<%=@listing.appliances%><%=@listing.additional_room_information%><%=@listing.estimated_occupancy%>
<%= javascript_tag do %>
    window.lat = <%=j @listing.latitude %>
    window.lon = <%=j @listing.longitude %>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {
      disableDefaultUI: false,
      zoom: 900
      }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
    {
    "lat": window.lat,
    "lng": window.lon,
    "picture": {
    "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
    "width":  32,
    "height": 32
    },
    "infowindow": "hello!"
    }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    });
    <% end %>