<%provide(:title,'Edit User')%>
<% @age_ranges = [["18-25", '18-25', {:class=>"bold"}], ["26-34", '26-34'], ["35-44", '35-44'], ["45-59", '45-59'], ["60+", '60+']]
   @price_ranges = [["Under 500K", 'Under 500K', {:class=>"bold"}], ["500K-699K", '500K-699K'], ["700K-899K", '700K-899K'], ["900K-1.1M,", '900K-1.1M,'], ["1.1M+", '1.1M+']]%>
<h1>Edit user</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%=form_for(@user)do|f|%>
        <%=render'shared/error_messages',object:f.object%>
        <%=f.label :first_name%>
        <%=f.text_field :first_name%>

        <%=f.label :last_name%>
        <%=f.text_field :last_name%>

        <%= f.select :age_range, options_for_select(@age_ranges) %>
        <%= f.select :price_range, options_for_select(@price_ranges) %>

        <%=f.label :password%>
        <%=f.password_field :password%>

        <%=f.label :have_agent%>
        <%=f.check_box :have_agent%>

        <%=f.label :want_agent%>
        <%=f.check_box :want_agent%>

        <%=f.submit"Create my account",class:"btn btn-primary"%>
    <%end%>
  </div>
</div>
