<%provide(:title,'All users')%>

<ul class="users">
  <h1>All users</h1>
  <%@users.each do|user|%>
      <li>
        <%=link_to user.first_name,user%> -- Type of user: <%=link_to user.user_as,user%>

      </li>
  <%end%>
</ul>
