<% provide(:title, @user.first_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.first_name %>
      </h1>
    </section>
  </aside>
  <% if admin? %>
      <table id="listings_lists">
        <thead>
        <tr>
          <th>Street address</th>
          <th>Category</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <% @user.listings.each do |product| %>
            <tr>

              <td><%= product.street_address %></td>
              <td><%= product.price %></td>
              <td><%= link_to(product.id, product) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <%=link_to "Create listing", new_listing_path, :class => "btn btn-success" %>
  <%end%>
</div>