<%= f.fields_for :listing_images do |builder| %>
    <p>
      <%= builder.label :url, "Image URL" %>
      <%= builder.text_field :url %>
    </p>
    <p>
      <%= builder.label :description, "Image description" %>
      <%= builder.text_field :description %>
    </p>
<% end %>