@import"bootstrap-sprockets";
@import"bootstrap";
/* mixins, variables, etc. */

$gray-medium-light:#eaeaea;

@mixin box_sizing{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
/* universal */
* { margin: 0; padding: 0; text-align: center; font-size: 1em; font-family: arial; }
.container {
  width: 970px;
  max-width: none !important;
}
section{
  overflow:auto;
}

textarea{
  resize:vertical;
}
/*typography*/

h1,h2,h3,h4,h5,h6{
  line-height:1;
}

h1{
  font-size:3em;
  letter-spacing:-2px;
  margin-bottom:30px;
  text-align:center;
}

h2{
  font-size:1.2em;
  letter-spacing:-1px;
  margin-bottom:30px;
  text-align:center;
  font-weight:normal;
  color:#777;
}

p{
  font-size:1.1em;
  line-height:1.7em;
}
/*header*/

#logo{
  float:left;
  margin-right:10px;
  font-size:1.7em;
  color:#fff;
  text-transform:uppercase;
  letter-spacing:-1px;
  padding-top:9px;
  font-weight:bold;
}

#logo:hover{
  color:#fff;
  text-decoration:none;
}
/*footer*/

footer{
  margin-top:45px;
  padding-top:5px;
  border-top:1px solid#eaeaea;
  color:#777;
}

footer a{
  color:#555;
}

footer a:hover{
  color:#222;
}

footer small{
  float:left;
}

footer ul{
  float:right;
  list-style:none;
}

footer ul li{
  float:left;
  margin-left:15px;
}
/*sidebar*/

/*forms*/

input,textarea,select,.uneditable-input{
  border:1px solid#bbb;
  width:100%;
  margin-bottom:15px;
  @include box_sizing;
}

input{
  height:auto!important;
}

/*miscellaneous*/

.debug_dump{
  clear:both;
  float:left;
  width:100%;
  margin-top:45px;
  @include box_sizing;
}

#error_explanation{
  color:red;
  ul{
    color:red;
    margin:0 0 30px 0;
  }
}

.field_with_errors{
  @extend.has-error;
  .form-control{
    color:$state-danger-text;
  }
}
.checkbox{
  margin-top:-10px;
  margin-bottom:10px;
  span{
    margin-left:20px;
    font-weight:normal;
  }
}

#session_remember_me{
  width:auto;
  margin-left:0;
}
/*listings*/

div[id^="carousel"] {
  border: 1px solid #bababa;
  border-radius: 10px;
  background-color: ghostwhite;
  float: left;
  padding-left: 0px;
}

button[class^="next"] , button[class^="prev"]  {
  display: block;
  width: 26px;
  height: 30px;
  line-height: 1;
  background-color: #333333;
  color: ghostwhite;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 25px;
  border-radius: 8px;
  position: absolute;
}
button[class^="next"]{
  top: 20px;
  right: -5px;
  z-index: 3;
}
button[class^="prev"]{
  bottom: 20px;
  left: -5px;
  z-index: 3;
}
/*ul + button{
  margin: 50px -5px 0 0; text-indent: 7px;
}
button[class^="next"] {
  margin: -10px 0 20px 15px; text-indent: 10px;
}*/
div.carousel > button:hover {
  background-color: #666666;
}
.gm-map {
  display: block;
  width: 100%;
  height: 300px;
}
.popover-iniciar-sesion .btn-primary {
  background: #e32822 none repeat scroll 0 0;
  border-radius: 2px;
  color: #fff;
  margin-bottom: 5px;
}
.popover-iniciar-sesion .btn-primary:hover, .popover-iniciar-sesion .btn-primary:focus {
  background: #c51a15 none repeat scroll 0 0;
  color: #fff;
  outline-offset: 0;
  text-decoration: none;
}
.social-media-contacto a .fa-twitter, .social-media-contacto a .fa-facebook, .social-media-contacto a .fa-google-plus {
  border-radius: 100%;
  color: #fff;
  font-size: 50px;
  height: 80px;
  line-height: 80px;
  margin: 0 10px 0 0;
  text-align: center;
  transition: all 500ms ease 0s;
  width: 80px;
}
.social-media-contacto a:hover .fa-google-plus {
  background-color: #be2c19;
}
.navbar-default .redes-sociales {
  float: right !important;
}
.navbar-default ul.redes-sociales li {
  margin-bottom: 0;
}
.redes-sociales {
  display: inline-block;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
ul.redes-sociales li {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
}
ul.redes-sociales li:last-child {
  border-left: medium none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}
ul.redes-sociales li a {
  background: #fff none repeat scroll 0 0;
  color: #333;
  text-align: center;
  text-decoration: none;
}
ul.redes-sociales li a.fa-twitter {
  background: #1ab4e6 none repeat scroll 0 0;
  color: #fff;
}
ul.redes-sociales li a.fa-facebook {
  background: #3b57a0 none repeat scroll 0 0;
  color: #fff;
}
ul.redes-sociales li a.fa-google-plus {
  background: #dd4b38 none repeat scroll 0 0;
  color: #fff;
}
.contacto-social ul.redes-sociales li a:hover {
  background: #e32822 none repeat scroll 0 0;
  color: #fff;
}
ul.redes-sociales li a.fa-twitter:hover {
  background: #0f98c5 none repeat scroll 0 0;
  color: #fff;
}
ul.redes-sociales li a.fa-facebook:hover {
  background: #153483 none repeat scroll 0 0;
  color: #fff;
}
ul.redes-sociales li a.fa-google-plus:hover {
  background: #be2c19 none repeat scroll 0 0;
  color: #fff;
}
#menu8 {
  width: 200px;
  margin-top: 10px;
}

#menu8 li a {
  text-decoration: none;
  height: 32px;
  voice-family: "\"}\"";
}

#menu8 li a:link, #menu8 li a:visited {
  color: #777;
  display: block;
  background: url(http://www.cssportal.com/vertical-menus/images/menu8.gif);
  padding: 8px 0 0 20px;
}

#menu8 li a:hover {
  color: #257EB7;
  background: url(http://www.cssportal.com/vertical-menus/images/menu8.gif) 0 -32px;
  padding: 8px 0 0 25px;
}

#menu8 li a:active {
  color: #fff;
  background: url(http://www.cssportal.com/vertical-menus/images/menu8.gif) 0 -64px;
  padding: 8px 0 0 25px;
}

#menu8 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.basic2 .carousel ul li img{
  cursor: pointer;
}