<!DOCTYPE html>
<html>
<head>
  <title><%=full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jQueryCarrusel' %>
  <script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
  <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
  <%= csrf_meta_tags %>
</head>
<!--<body class="<%= params[:controller]%>">-->
<body class="<%= controller.controller_name %> <%= controller.action_name %>">
<%=render 'layouts/header'%>

<%flash.each do|message_type,message|%>
    <div class="alert alert-<%=message_type%>"><%=message%></div>
<%end%>
      <%= yield %>
<%=debug(params) if Rails.env.development?%>
</body>

<%= javascript_tag do %>
    $('.dropdown-menu').find('form').click(function (e) {
    e.stopPropagation();
    $(".form-iniciar-sesion .alert .close").on("click", function(){
    $(this).parent().remove();
    });
    });
<% end %>

</html>
